html, body {
  height: 100%;
}
body {
  font-family: "Raleway", sans-serif;
  background-image: -webkit-gradient(linear, left top,right top,color-stop(0,#fcfcfc),color-stop(0.25,#efefde),color-stop(1,#d4e6f2));
  /*background-image:-webkit-linear-gradient(left,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);*/
  background-image: -webkit-linear-gradient(bottom,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);
  background-image: -moz-linear-gradient(bottom,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);
  background-image: -o-linear-gradient(bottom,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);
  background-image: -ms-linear-gradient(bottom,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);
  background-image: linear-gradient(bottom,#fcfcfc 0%,#efefde 25%,#d4e6f2 100%);
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  color:#42494e;
  font-size: 18px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.intro {
  height: 100px;
  line-height: 100px;
}
a {
  color: inherit;
  text-decoration: none;
}
a.dotted:link {
  text-decoration: none;
  border-bottom: 1px white dotted;
}
a.apply {
  color: inherit;
  text-decoration: underline;
}
a.kyn-link {
  color: #95b7c3;
}
.countdown {
  padding: 100px 0;
  background-color: #ff8756;
  color: white;
  font-size: 1.5em;
}
.clock {
  margin-top: 50px;
}
.kyn {
  text-shadow: 1px 1px #f15755;
  text-align: center;
}
.signature {
  padding: 25px;
  background-color: #95b7c3;
  color: white;
  font-size: 1.0em;
}
.logo {
  width: 50px;
}
.worksheet-wrapper {
  padding: 100px 0;
}
ol li:first-child {
  margin-top: 10px;
}
label {
  padding-left: 0px !important;
  margin-top: 50px;
}
.text-muted {
  color: #bbb;
}
textarea.form-control {
  padding: 20px;
}
.partnerships {
  display: none;
}
hr.finished {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.well-finished label {
  margin-top: 0px;
}
.bulb {
  background-image: url('/bulb.png');
  background-repeat: no-repeat;
  width: 187px;
  height: 320px;
  position: fixed;
  bottom: 100px;
  right: 90px;
  opacity: 0.1;
  z-index: -1;
}

footer {
  background-color: #95b7c3;
  color: white;
  padding: 25px 0;
  font-size: .8em;
  min-height: 75px;
  margin-top: 200px;
}

@media print
{
  .no-print, .no-print *
  {
      display: none !important;
  }
  body {
    font-size: 1em !important;
    font-weight: normal !important;
    font-family: sans-serif;
  }
  textarea {
    font-size: .8em !important;
    padding: none !important;
    border: none !important;
    overflow: visible !important;
    outline: none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    -webkit-transition: none !important;
    transition: none !important;
  }
}

